/* Desktop (col-lg) 992px+ */

/* Desktop e Tablets (col-md) 768px a 991px+ */

/* Tablet (col-sm) 576px a 767 */

/* Tablet e celular (col) -px a 767px */
@media (max-width: 991px) { /* Apenas para telas médias (tablets) */
    .img-banner {
        margin-top: 20px; /* Ajusta a posição da imagem */
        display: flex;
        justify-content: center;
    }

    .img-perfil {
        height: auto; /* Mantém a proporção da imagem */
        max-width: 100%;
        object-fit: cover; /* Evita cortes */
    }
}

@media (max-width: 768px) {

    .img-perfil{
        min-width: 200px;
        border-radius: 24px!important;
    }

    .no-mobile {
        display: none !important;
    }




    .perfil-mob {
        width: 200%;
        height: 140%; 
        margin-top: 8%!important;
        min-height: 464px;
        overflow: hidden;
        object-fit: cover;
        filter: drop-shadow(0px 10px 15px rgba(175, 167, 167, 0.322));
        margin: 0px auto;
        border-radius: 24px 24px 24px 24px!important;
        z-index: -1;
    }

 

    .img-logo {
        display: block;
        margin: 0 auto;
        /* Centraliza horizontalmente */
        width: 60%;
        /* Ajuste conforme necessário */
        max-width: 170px;
        height: auto;
        /* Para manter a proporção */
    }

    .margin-pic {
        margin-top: 20px;
        margin-bottom: 80px;
    }



    .hud-mob {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }



    .navbar-toggler-icon {
        padding-top: 5px;
    }



    .navbar-collapse {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .bio {
        padding-top: 100px;
    }

    .btn-namemob {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 15px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        margin: -40 auto;
        display: block;
        text-align: center;
        max-width: 280px;
        /* Em vez de min-width: 680px */
    }


    .p-name {
        padding: 15px 20px;
        font-size: 15px;
        margin: 0 auto;
        display: block;
        text-align: center;
        max-width: 280px;
        /* Em vez de min-width: 680px */
    }

    .btn-blue{
        padding: 15px 20px;
        font-size: 15px;
        margin: 0 auto;
        display: block;
        text-align: center;
        min-width: 230px;
        max-width: 280px;
        /* Em vez de min-width: 680px */
    }
    .btn-header{
        margin: 0 auto !important;
        display: block !important;
        text-align: center !important;
        min-width: 140px;
    }



    /* Texto bio */
    .text-bio {
        flex-direction: column;
        justify-content: center;
      }
      .text-bio h4 {
        color: var(--color-primary);
        font-size: 18px;
        margin-top: 75px!important;
      }
      .text-bio p {
        margin: 15px 0;
        font-size: 15px;
      }
      .text-bio strong {
        color: var(--color-secondary);
      }

    .margin-psico {
        margin-right: 1200px;
    }

    .listpsico-margin {
        text-align: center !important;
    }

    .faq-button {
        max-width: 80%;
        min-width: 300px;
        word-wrap: break-word;
        white-space: normal;
    }

    .faq-card {     
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        z-index: 2;
        position: relative;
        background-color: var(--color-white);
        display: block;
        text-align: center;
        min-width: 230px;
        max-width: 280px;
        font-size: 15px;
        word-wrap: break-word;
        white-space: normal;
    }

    .faq {
        padding-top: 80px;
        padding-bottom: 100px;
        background-color: var(--color-separate);
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.466));
    }

    .neuro-text {
        margin-top: 10px;
        font-size: 15px;
        color: var(--color-primary);
    }

    .title {
        font-size: 30px;
    }

    .text-ref {
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        word-wrap: break-word;
        white-space: normal;
    }

.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-white);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    text-align: center;
    padding-top: 12px;
}
.btn-icon-left-2 span.icon-left{
    display: inline-block;
    color: var(--color-white);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -36px;
    margin-top: -8px;
    text-align: center;
    padding-top: 12px;
}


    .card {
        margin: 0 auto;     
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        z-index: 2;
        position: relative;
        text-align: center;
        word-wrap: break-word;
        white-space: normal;
    }

    .services {
        padding-top: 70px;
        padding-bottom: 50px;
        background-color: var(--color-separate);
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.466));

    }

    .sub-title {
        color: var(--color-secondary);
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .piscoterapia-margin {
        margin-top: 20px;
    }



    .navcenter {
        text-align: center;
    }

    .text-bio p {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -20;
        font-size: 15px;
        min-width: 280px;
    }

    .collapse {
        transition: max-height 0.5s ease-out;

        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .no-mobile {
        display: none !important;
    }

    .col-one {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }



    .perfil-mob {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.466));
    }

    .img-logo {
        margin-right: 250px;
        height: 70%;
        width: 60%;
        max-width: 160px;
    }

    .margin-pic {
        margin-top: 20px;
        margin-bottom: 80px;
    }



    .hud-mob {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }



    .navbar-toggler-icon {
        padding-top: 5px;
    }



    .navbar-collapse {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .bio {
        padding-top: 260px;
    }

    .btn-namemob {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 20px;
        padding: 15px 25px;
        font-size: 15px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        margin-left: 35px;
        text-align: center;

    }

    .p-name {
        margin-top: 35px !important;
        text-align: center;

    }

    .text-bio {
        flex-direction: column;
        justify-content: center;

    }

    .text-bio h4 {
        color: var(--color-primary);
        font-size: 18px;
    }

    .text-bio p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .text-bio strong {
        color: var(--color-secondary);
    }

    .margin-psico {
        margin-right: 1200px;
        margin-left: 30%;
    }

    .listpsico-margin {
        text-align: center !important;
    }

    /* FAQ */
    .faq-button {
        max-width: 80%;
        min-width: 270px;
        margin: 0 auto 20px auto;
        /* Centraliza + espaçamento abaixo */
        display: block;
        white-space: normal;
        word-wrap: break-word;
    }

    .faq-card {
        margin: 0 auto 20px auto;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        background-color: var(--color-white);
        max-width: 80%;
        min-width: 300px;
        font-size: 15px;
        padding: 20px;
        white-space: normal;
        word-wrap: break-word;
    }

    .faq {
        padding-top: 80px;
        padding-bottom: 100px;
        background-color: var(--color-separate);
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.466));
    }

    .neuro-text {
        margin-top: 10px;
        font-size: 15px;
        color: var(--color-primary);
    }

    .title {
        font-size: 25px;
    }

    .text-ref {
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        word-wrap: break-word;
        white-space: normal;
    }

    .text-ref360 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        word-wrap: break-word;
        white-space: normal;
    }

    .card {
        margin-top: -30px;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 1);
        z-index: 2;
        position: relative;
        max-height: 80%;
        min-height: 140px;
        min-width: 100px;
        max-width: 290px;
        margin-left: -20px;
        word-wrap: break-word;
        white-space: normal;
    }

    .btn-header {
        background-color: var(--color-primary);
        color: var(--color-white) !important;
        border-radius: 20px;
        padding: 15px 15px;
        font-size: 15px;
        min-width: 170px;
        z-index: 3;
        position: relative;
        text-align: center;
        margin-left: -36px;

    }

    .services {
        padding-top: 50px;
        padding-bottom: 25px;
        background-color: var(--color-separate);
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.466));

    }

    .sub-title {
        color: var(--color-secondary);
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .piscoterapia-margin {
        margin-top: 20px;
    }

    .img-logo {
        margin-right: -25px;
        height: 70%;
        width: 60%;
        max-width: 160px;
    }

    .navcenter {
        text-align: center;
    }

    .text-bio p {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -20;
        font-size: 15px;
        min-width: 280px;
    }
}